/*==============General===============*/

ul,
li,
a {
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
}

.header__logo-img {
  max-height: 50px;
  align-self: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
  background-color: var(--ice-white);
  border-bottom: 1px solid var(--gray);
}

@media only screen and (min-width: 1600px) {
  #header {
    padding: 20px 60px;
  }
}

/*==============General===============*/

/*==============Left-Side===============*/

.header__left-side {
  display: flex;
  gap: 30px;
}

.header__logo {
  display: flex;
  cursor: pointer;
}

.header__menu,
.header__menu > ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.header__menu__first {
  position: relative;
  cursor: pointer;
  padding: 20px 0px;
}

.header__menu__first > a {
  color: #06142d;
  font: 500 16px/30px 'Open Sans', sans-serif;
  position: relative;
  transition: all 0.5s;
}

.header__menu__first:hover > a {
  color: #7c7b7b;
}

.header__menu__second-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: -30px;
  margin-top: 15px;
  width: 270px;
  z-index: 100;
  opacity: 0%;
  visibility: hidden;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  transition: all 0.5s;
}

.header__menu__first:hover > .header__menu__second-box {
  opacity: 100%;
  visibility: visible;
  left: 0px;
}

.header__menu__second,
.header__menu__second__sub {
  position: relative;
  width: 100%;
  padding: 10px 18px;
  border-bottom: 1px solid #f9f9f9;
}

.header__menu__second > a,
.header__menu__second__sub > a {
  display: block;
  line-height: 24px;
  font-weight: 600;
  font: 600 15px/24px 'Open Sans', sans-serif;
  text-align: left;
  color: #7c7b7b;
}

.header__menu__second__sub-box {
  width: 330px;
  display: block !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 120%;
  top: 0%;
  z-index: 100;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  transition: all 0.5s;
}

.header__menu__second:hover > .header__menu__second__sub-box {
  visibility: visible;
  opacity: 1;
  top: 0;
  left: 100%;
}

.header__menu__second a:before,
.header__menu__second__sub > a:before {
  position: absolute;
  content: '//';
  left: 10px;
  top: 8px;
  opacity: 0;
  color: #e8532c;
}

.header__menu__second:hover > a,
.header__menu__second__sub:hover > a {
  color: #e8532c;
  padding-left: 15px;
}

.header__menu__second:hover > a:before,
.header__menu__second__sub:hover > a:before {
  opacity: 1;
}

.header__menu__second:last-child,
.header__menu__second__sub:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 1600px) {
  .header__left-side {
    gap: 120px;
  }
}

/*==============Left-Side===============*/

/*==============Right-Side===============*/

.header__right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__search-box {
  position: relative;
  width: 265px;
  height: 50px;
}

.header__search-box__search-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.header__search-box__search-button .icon-search {
  font-size: 22px;
  color: #e8532c;
  height: 22px;
}

.header__search-box__input {
  position: relative;
  line-height: 43px;
  padding: 10px 15px 10px 45px;
  border: 1px solid #e8532c;
  background: #fbfbfb;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 100%;
  color: #000000;
  border-radius: 5px;
}

input.header__search-box__input:focus {
  outline: none;
}

.header__socials {
  display: flex;
  gap: 6px;
}

.header__socials__shape {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fbfbfb;
  padding: 18px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
}

.header__socials__shape::before {
  transition: transform 0.5s;
}

.header__socials__shape:hover::before {
  transform: rotateY(360deg);
}

.header__socials__shape:nth-child(1) {
  background-color: rgb(215, 58, 118);
}

.header__socials__shape:nth-child(2) {
  background-color: rgb(59, +89, +153);
}

.header__socials__shape:nth-child(3) {
  background-color: rgb(10, +65, +130);
}

.header__socials__shape:nth-child(4) {
  background-color: rgb(255, 0, 0);
}

.header__lang {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__lang__flag img {
  width: 25px;
  height: auto;
}

/*==============Right-Side===============*/
