a {
  line-height: 24px;
  font-size: 15px;
  color: #404040;
  text-transform: capitalize;
}

.icon-bars {
  position: absolute;
  font-size: 36px;
  color: #303030;
  cursor: pointer;
  display: none;
  z-index: 40;
  top: -40px;
  right: 15px;
}

@media only screen and (max-width: 1069px) {
  .icon-bars {
    display: inline;
  }
}

.icon-angle-down {
  color: #253d4a;
  line-height: 20px;
  font-size: 18px;
  font-weight: 800;
}

.icon-angle-down::after {
  content: '';
  position: absolute;
  left: -14.21px;
  top: 0px;
  width: 1px;
  height: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-angle-down__wrapper {
  width: 11.58px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header__right-side__hamburger-icon {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header__right-side__hamburguer__menu-container {
  position: absolute;
  width: 280px;
  height: 100vh;
  top: 0;
  right: -280px;
  background: #ffffff;
  z-index: 100;

  transition: all 0.5s;
}

.header__right-side__hamburger-icon:hover
  ~ .header__right-side__hamburguer__menu-container,
.header__right-side__hamburguer__menu-container:hover {
  right: 0;
}

.header__right-side__hamburguer__menu-logo-and-lang {
  width: 100%;
  position: relative;
  padding: 20px 20px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__right-side__hamburguer__menu-logo-img {
  width: 175px;
}

.header__right-side__hamburguer__menu-lang {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__hamburguer__menu__toggle,
.header__hamburguer__menu__second,
.header__hamburguer__menu__second__sub,
.header__hamburguer__menu__toggle__ {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hamburguer__menu__first:nth-child(3),
.header__hamburguer__menu__toggle__1,
.header__hamburguer__menu__toggle,
.header__hamburguer__menu__toggle__,
.header__hamburguer__menu__second,
.header__hamburguer__menu__second__sub,
.header__hamburguer__search-box,
.header__hamburguer__socials {
  padding: 10px 14.21px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__hamburguer__socials {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
}

