/*==============General===============*/

ul,
li,
a {
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
  margin: 0;
}

.header__logo-img {
  max-height: 50px;
  align-self: center;
}

#header {
  position: fixed;
  z-index: 30;
  width: 100%;
  padding: 10px 25px;
  background-color: var(--ice-white);
  border-bottom: 1px solid var(--gray);
}

#header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1600px) {
  #header {
    padding: 20px 60px;
  }
}

/*==============General===============*/
