@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1069px) {
  .header__logo__wrapper,
  .header__menu__wrapper {
    flex-basis: 100%;
  }

  .header__left-side {
    gap: 10px;
  }

  .header__right-side {
    align-self: flex-end;
  }

  .header__menu__first {
    padding: 20px 0px 12px 0px;
  }

  .header__menu__wrapper,
  .header__right-side {
    display: none;
  }

  .icon-bars {
    display: inline;
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 950px) {
  .header__right-side {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }

  .header__menu__first {
    padding: 0px 0px;
  }
}

@media only screen and (max-width: 750px) {
  .header__right-side,
  .header__left-side {
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .header__logo__wrapper {
    justify-content: flex-start;
  }

  
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 400px) {
}
