@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1070px) {
  .header__search-box__container,
  .header__right-side__search-and-socials,
  .header__logo__wrapper,
  .header__menu__wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  .header__left-side {
    gap: 10px;
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 950px) {
  .header__right-side {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 750px) {
  .header__right-side,
  .header__left-side {
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .header__menu__wrapper {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .header__logo__wrapper {
    justify-content: flex-start;
  }

  .header__right-side {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  #header {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 400px) {
}
