* {
  color: var(--white);
}

img {
  width: 160px;
  margin-bottom: 20px;
  cursor: pointer;
}

h2 {
  font: 700 26px 'Open Sans', sans-serif;
}

nav a {
  font: 400 17px 'Open Sans', sans-serif;
  padding: 8px 0;
  cursor: pointer;
  transition: color 0.5s;
}

nav a:hover {
  color: #233674;
}

@media (hover: hover) {
  nav a:hover::after {
    visibility: visible;
    width: 100%;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.footer__logo-phrase {
  margin-bottom: 20px;
}

.footer__logo-phrase,
.footer__contact {
  font: 500 16px/25.6px 'Open Sans', sans-serif;
}

.footer {
  background-color: #ea6538;
  padding: 60px 0 30px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__box-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 60px;
  width: 100%;
}

.footer__box {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer__box nav {
  display: flex;
  flex-direction: column;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  margin: 15px 0;
}

.footer__copyrights {
  width: 100%;
  text-align: center;
  font: 400 12px 'Open Sans', sans-serif;
}
