section {
  padding: 90px 0;
  overflow-x: hidden;
}

h2,
h3,
p {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .max-width-1200px,
  section.cases,
  section.clients,
  section.blog {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .max-width-1200px,
  section.cases,
  section.clients,
  section.blog {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .max-width-1200px,
  section.cases,
  section.clients,
  section.blog {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .max-width-1200px,
  section.cases,
  section.clients,
  section.blog {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*===========SECTION-1__PRESENTATION===========*/

.presentation.max-width-1200px {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 180px;
}

.presentation__briefing {
  padding-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
}

.presentation__briefing__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-bottom: 10px;
  flex-basis: 45.983%;
}
.presentation__briefing__image {
  padding: 10px;
  flex-basis: 54.017%;
}

.presentation__briefing__title {
  color: #233674;
  font: 800 48px/1.2 'Open Sans', sans-serif;
}

.presentation__briefing__body-text {
  color: #828282;
  font: 400 25px/1.2 'Open Sans', sans-serif;
}

.presentation__briefing__submission {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}

.presentation__briefing__submission input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #818a91;
  background-color: transparent;
  color: #373a3c;
  font: 400 15px/1.4 'Open Sans', sans-serif;
  min-height: 40px;
  padding: 5px 14px;
  border-radius: 3px;
  outline: none;
}

.presentation__briefing__submission button {
  width: 100%;
  background-color: #00a650;
  color: #ffffff;
  font: 700 15px/1.4 'Open Sans', sans-serif;
  border: solid 0 #ffffff;
  border-radius: 3px;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
}

@media (hover: hover) {
  .presentation__briefing__submission button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.presentation__briefing__image > img {
  width: 100%;
}

.presentation__client-numbers {
  width: 100%;
  text-align: center;
  color: #828282;
  font: 400 16px 'Open Sans', sans-serif;
}

.presentation__our-focus {
  width: 100%;
  text-align: center;
  font: 700 19px/19.2px 'Open Sans', sans-serif;
  color: #303030;
}

@media only screen and (max-width: 1000px) {
  .presentation__briefing__form,
  .presentation__briefing__image {
    flex-basis: auto;
  }
}

@media only screen and (max-width: 750px) {
  .presentation__briefing__title {
    color: #233674;
    font: 800 34px/1.2 'Open Sans', sans-serif;
    text-align: center;
  }

  .presentation__briefing__body-text {
    color: #828282;
    font: 400 18px/1.2 'Open Sans', sans-serif;
    text-align: center;
  }

  .presentation__client-numbers {
    width: 100%;
    text-align: center;
    color: #828282;
    font: 400 14px 'Open Sans', sans-serif;
  }

  .presentation__our-focus {
    width: 100%;
    text-align: center;
    font: 700 16px/16.2px 'Open Sans', sans-serif;
    color: #303030;
  }
}

@media only screen and (max-width: 400px) {
  .presentation__briefing__submission {
    align-self: center;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    gap: 10px;
  }
}

/*===========SECTION-1__PRESENTATION===========*/

/*===========SECTION-2__PLATFORM===========*/

.platform {
  display: flex;
  overflow: hidden;
}

.platform__briefing-and-call,
.platform__image {
  flex-basis: 50%;
}

.platform__briefing-and-call {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.platform__briefing-and-call__image {
  max-width: 300px;
}

.platform__title {
  color: #233674;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.platform__image__middle {
  display: none;
}

.platform__brief-explanation {
  color: #5f6368;
  font: 400 17px/1.8 'Open Sans', Sans-serif;
}

.platform__icon-3 {
  max-width: 146px;
}

.platform__icons-1-and-2 {
  width: 100%;
  display: flex;
}

.platform__icon-1,
.platform__icon-2 {
  flex-basis: 50%;
  display: flex;
}

.platform__meet-us-button {
  width: 126.2px;
  background-color: #ea6538;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .platform__meet-us-button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.platform__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .platform {
    flex-wrap: wrap;
    gap: 60px;
  }

  .platform__image {
    display: none;
  }

  .platform__briefing-and-call,
  .platform__image__middle {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .platform__briefing-and-call {
    align-items: center;
  }

  .platform__title,
  .platform__brief-explanation,
  .platform__brief-explanation {
    text-align: center;
  }

  .platform__icon-1,
  .platform__icon-2 {
    justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .platform__title {
    font: 800 34px/1.2 'Open Sans', Sans-serif;
  }

  .platform__brief-explanation {
    font: 400 14.5px/1.8 'Open Sans', Sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .platform__briefing-and-call__image {
    width: 100%;
  }

  .platform__icons-1-and-2 {
    flex-direction: column;
    gap: 20px;
  }

  .platform__image__computer {
    width: 100%;
  }
}

/*===========SECTION-2__PLATFORM===========*/

/*===========SECTION-3__NUMBERS===========*/

.numbers {
  background-color: #f7f7f7;
}

.numbers__ {
  display: flex;
}

.numbers__images,
.numbers__statistics {
  flex-grow: 1;
  position: relative;
  padding: 0 15px;
}

.numbers__images__container {
  position: relative;
}

.numbers__images__wrapper {
  width: 570px;
  position: relative;
}

.numbers__statistics__wrapper {
  padding: 0 15px;
  margin-bottom: 40px;
}

.numbers__images__1 {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transform: rotate(-7deg);
}

.numbers__images__2 {
  position: absolute;
  right: 15px;
  bottom: -160px;
  border-radius: 5px;
  overflow: hidden;
  transform: rotate(7deg);
}

.numbers__images__ball {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  background-color: #233674;
}

.numbers__statistics__little-title {
  position: relative;
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}

.numbers__statistics__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
  margin-bottom: 55px;
}

.numbers__statistics__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}

.numbers__statistics__info__cards h2 {
  font: 800 40px/1 'Open Sans', sans-serif;
  position: relative;
  font-weight: 800;
  color: #06092d;
}

.numbers__statistics__info__cards p {
  position: relative;
  font: 700 19px/1.6 'Open Sans', sans-serif;
  margin-top: 14px;
  color: #06092d;
}

@media only screen and (max-width: 1100px) {
  .numbers__ {
    flex-wrap: wrap;
    gap: 200px;
  }

  .numbers__images,
  .numbers__statistics {
    flex-basis: 100%;
    padding: 0 15px;
  }

  .numbers__images {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .numbers__images {
    display: none;
  }

  .numbers__statistics__title {
    color: #303030;
    font: 800 34px/1.2 'Open Sans', Sans-serif;
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 600px) {
  .numbers__statistics__info {
    grid-template-columns: none;
  }
}

/*===========SECTION-3__NUMBERS===========*/

/*===========SECTION-4__ABOUT-US===========*/

.about-us {
  display: flex;
}

.about-us__briefing {
  flex-basis: 58.33%;
  padding: 0 15px;
}

.about-us__images {
  flex-basis: 41.67%;
  padding: 0 15px;
}

.about-us__briefing__little-title {
  position: relative;
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}

.about-us__briefing__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us__briefing__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.about-us__briefing__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.about-us__briefing__explanation br {
  margin: -2px;
}

.about-us__briefing__meet-us-button {
  width: 126.2px;
  background-color: #ea6538;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .about-us__briefing__meet-us-button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.about-us__images {
  position: relative;
  padding-left: 45px;
  display: flex;
  justify-content: center;
}

.about-us__images__ball {
  position: absolute;
  right: -30px;
  top: -20px;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background-color: rgb(130 47 135 / 80%);
  box-sizing: border-box;
}

.about-us__images__1-box {
  position: relative;
  top: -20px;
  right: -10px;
  width: 400px;
  height: 524px;
}

.about-us__images__1 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .about-us__images__ball {
    width: 416px;
    height: 416px;
  }

  .about-us__images__1-box {
    width: 320px;
    height: 420px;
  }
}

@media only screen and (max-width: 900px) {
  .about-us__images__ball {
    width: 338px;
    height: 338px;
  }

  .about-us__images__1-box {
    width: 260px;
    height: 340px;
  }

  .about-us__briefing__explanation {
    font: 400 16px/1.7 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 750px) {
  .about-us {
    flex-wrap: wrap;
    gap: 60px;
  }

  .about-us__briefing,
  .about-us__images {
    flex-basis: 100%;
  }

  .about-us__briefing__title {
    font: 800 34px/1.2 'Open Sans', Sans-serif;
  }

  .about-us__images {
    padding-left: 0px;
  }

  .about-us__images__ball {
    width: 520px;
    height: 520px;
  }

  .about-us__images__1-box {
    width: 400px;
    height: 524px;
  }
}

@media only screen and (max-width: 500px) {
  .about-us__images__ball {
    width: 416px;
    height: 416px;
  }

  .about-us__images__1-box {
    width: 320px;
    height: 420px;
  }
}

@media only screen and (max-width: 350px) {
  .about-us__images__ball {
    width: 280px;
    height: 280px;
  }

  .about-us__images__1-box {
    width: 215px;
    height: 282px;
  }
}

/*===========SECTION-4__ABOUT-US===========*/

/*===========SECTION-5__TESTIMONIALS===========*/

.testimonials {
  background-color: #f7f7f7;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__costumer {
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}
.testimonials__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', sans-serif;
}

.testimonials__subtitle {
  margin-top: 25px;
  margin-bottom: 55px;
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.testimonials__carroussel__slides {
  position: relative;
  padding: 45px 25px 50px;
  box-sizing: border-box;
  width: 100%;
}

.testimonials__carroussel__slides::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 8px;
  background-color: #ffffff;
  transform: skewY(2deg);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  min-height: 310px;
}

.testimonials__carroussel__slides__testimony-text {
  position: relative;
  color: #06092d;
  font: 400 20px/1.5 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.testimonials__carroussel__slides__author {
  position: relative;
  display: flex;
  gap: 23px;
  margin-bottom: 20px;
}

.testimonials__carroussel__slides__author-photo {
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 50%;
}

.testimonials__carroussel__slides__author-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}

.testimonials__carroussel__slides__author-name {
  color: #06092d;
  font: 500 22px/1.3 'Open Sans', sans-serif;
}

.testimonials__carroussel__slides__author-location {
  color: #e8532c;
  font: 400 17px/1.2 'Open Sans', sans-serif;
}

.testimonials__carroussel__slides__quotes {
  position: absolute;
  right: 40px;
  bottom: 20px;
  color: #000000;
  line-height: 1em;
  width: 36px;
}

.testimonials__carroussel__slides__quotes-mark {
  width: 100%;
}

.testimonials__carroussel {
  width: calc(100% + 40px);
}

swiper {
  width: 100%;
  padding: 50px 20px;
}

ng-template {
  margin-left: 10px;
  width: calc(100% - 30px);
}

@media only screen and (max-width: 750px) {
  .testimonials__title {
    font: 800 34px/1.2 'Open Sans', Sans-serif;
  }

  .testimonials__subtitle {
    font: 400 18px/1.7 'Open Sans', sans-serif;
    text-align: center;
  }

  .testimonials__carroussel__slides__testimony-text {
    font: 400 18px/1.5 'Open Sans', sans-serif;
    margin-bottom: 24px;
  }

  .testimonials__carroussel__slides__author-name {
    font: 500 20px/1.3 'Open Sans', sans-serif;
  }

  .testimonials__carroussel__slides__author-photo {
    width: 56px;
    height: 56px;
  }
}

/*===========SECTION-5__TESTIMONIALS===========*/

/*===========SECTION-6__CASES===========*/

.cases {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 80px;
}

.cases__header {
  flex-basis: 58.33%;
  padding: 0 15px;
  text-align: center;
}

.cases__header__little-title {
  position: relative;
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}

.cases__header__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cases__header__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.cases__header__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.cases__images__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}

.cases__images__photo {
  position: relative;
  width: 100%;
  height: auto;
}

.cases__images__photo__text-box {
  position: absolute;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  background-color: #ea6538;
  opacity: 0%;
  transition: opacity 0.5s;
  z-index: 2;
}

.cases__images__photo:hover > .cases__images__photo__text-box {
  opacity: 100%;
}

.cases__images__photo__text {
  font: 700 22px/1.2 'Open Sans', sans-serif;
  color: #233674;
}

.cases__images__photo__ {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases__meet-us-button {
  width: 205.2px;
  align-self: center;
  background-color: #ffffff;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ea6538;
  border-radius: 3px;
  border: solid 2px #ea6538;
  padding: 15px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .cases__meet-us-button:hover {
    background-color: #ea6538;
    color: #ffffff;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

@media only screen and (max-width: 1373px) {
  .cases__images__photo__text {
    font: 700 17px/1.2 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 1140px) {
  .cases__images__photo__text-box {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .cases__images__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .cases__header__title {
    font-size: 34px;
  }

  .cases__header__explanation {
    font-size: 18px;
  }

  .cases__images__wrapper {
    grid-template-columns: none;
    overflow-x: hidden;
  }
}

/*===========SECTION-6__CASES===========*/

/*===========SECTION-7__CLIENTS===========*/

.clients {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 80px;
}

.clients__header {
  flex-basis: 58.33%;
  padding: 0 15px;
  text-align: center;
}

.clients__header__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clients__header__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.clients__header__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.clients__image-container {
  height: 110px;
  width: 120px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .clients__header__title {
    font-size: 34px;
  }

  .clients__header__explanation {
    font-size: 18px;
  }
}

/*===========SECTION-7__CLIENTS===========*/

/*===========SECTION-8__PARTNERS===========*/

.partners {
  background-color: #f7f7f7;
}

.partners__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.partners__header__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
  text-align: center;
}

.partners__link {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.partners__logo {
  width: 300px;
}

.partners__swiper__wrapper {
  padding: 0 150px;
}

@media only screen and (max-width: 800px) {
  .partners__swiper__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 750px) {
  .partners__header__title {
    font: 800 34px/1.2 'Open Sans', Sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .partners__swiper__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .partners__swiper__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
  .partners__logo {
    width: 100%;
  }
}

/*===========SECTION-8__PARTNERS===========*/

/*===========SECTION-9__BLOG===========*/

.blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 80px;
}

.blog__header {
  flex-basis: 58.33%;
  padding: 0 15px;
  text-align: center;
}

.blog__header__little-title {
  position: relative;
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}

.blog__header__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blog__header__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.blog__header__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.blog__articles {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.blog__articles__box {
  flex-grow: 1;
  display: flex;
  width: calc((1vw - 220px) / 3);
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  border: 0 solid #818a91;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
  transition: all 0.3s;
}

.blog__articles__box:hover {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
  filter: brightness(105%);
  transition: all 0.3s;
}

.blog__articles__box__header {
  position: relative;
}

.blog__articles__box__image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog__articles__box__tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #818a91;
  color: #fff;
  padding: 7.2px 14.4px;
  font: 400 12px/1 'Open Sans', sans-serif;
  border-radius: 999px;
  z-index: 2;
}

.blog__articles__box__main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 30px;
  margin-top: 20px;
  overflow: hidden;
}

.blog__articles__box__main__title {
  font: 700 21px/1.2 'Open Sans', sans-serif;
  color: #303030;
}

.blog__articles__box__main__text {
  font: 400 14px/1.5 'Open Sans', sans-serif;
  color: #777;
  margin-bottom: 30px;
}

.blog__date {
  padding: 15px 30px;
  border-top: 1px solid #eaeaea;
  font: 400 12px/1.3 'Open Sans', sans-serif;
  color: #adadad;
}

.blog__button {
  width: 223.2px;
  align-self: center;
  background-color: #ffffff;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ea6538;
  border-radius: 3px;
  border: solid 2px #ea6538;
  padding: 15px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .blog__button:hover {
    background-color: #ea6538;
    color: #ffffff;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

/*===========SECTION-9__BLOG===========*/
