/*===========SECTION-4__ABOUT-US===========*/

.about-us {
  display: flex;
}

.about-us__briefing {
  flex-basis: 58.33%;
  padding: 0 15px;
}

.about-us__images {
  flex-basis: 41.67%;
  padding: 0 15px;
}

.about-us__briefing__little-title {
  position: relative;
  color: #e8532c;
  font: 400 16px/1.7 'Open Sans', sans-serif;
}

.about-us__briefing__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us__briefing__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.about-us__briefing__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.about-us__briefing__explanation br {
  margin: -2px;
}

.about-us__briefing__meet-us-button {
  width: 126.2px;
  background-color: #ea6538;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .about-us__briefing__meet-us-button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.about-us__images {
  position: relative;
  padding-left: 45px;
  display: flex;
  justify-content: center;
}

.about-us__images__ball {
  position: absolute;
  right: -30px;
  top: -20px;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background-color: rgb(130 47 135 / 80%);
  box-sizing: border-box;
}

.about-us__images__1-box {
  position: relative;
  top: -20px;
  right: -10px;
  width: 400px;
  height: 524px;
}

.about-us__images__1 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .about-us__images__ball {
    width: 416px;
    height: 416px;
  }

  .about-us__images__1-box {
    width: 320px;
    height: 420px;
  }
}

@media only screen and (max-width: 900px) {
  .about-us__images__ball {
    width: 338px;
    height: 338px;
  }

  .about-us__images__1-box {
    width: 260px;
    height: 340px;
  }

  .about-us__briefing__explanation {
    font: 400 16px/1.7 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 750px) {
  .about-us {
    flex-wrap: wrap;
    gap: 60px;
  }

  .about-us__briefing,
  .about-us__images {
    flex-basis: 100%;
  }

  .about-us__briefing__title {
    font: 800 34px/1.2 'Open Sans', Sans-serif;
  }

  .about-us__images {
    padding-left: 0px;
  }

  .about-us__images__ball {
    width: 520px;
    height: 520px;
  }

  .about-us__images__1-box {
    width: 400px;
    height: 524px;
  }
}

@media only screen and (max-width: 500px) {
  .about-us__images__ball {
    width: 416px;
    height: 416px;
  }

  .about-us__images__1-box {
    width: 320px;
    height: 420px;
  }
}

@media only screen and (max-width: 350px) {
  .about-us__images__ball {
    width: 280px;
    height: 280px;
  }

  .about-us__images__1-box {
    width: 215px;
    height: 282px;
  }
}

/*===========SECTION-4__ABOUT-US===========*/