section {
  padding: 90px 0;
}

h2,
p {
  margin: 0;
}

/*===========1__PRESENTATION===========*/

.presentation.max-width-1200px {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.presentation__briefing {
  padding-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
}

.presentation__briefing__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-bottom: 10px;
  flex-basis: 45.983%;
}
.presentation__briefing__image {
  padding: 10px;
  flex-basis: 54.017%;
}

.presentation__briefing__title {
  color: #233674;
  font: 800 48px/1.2 'Open Sans', sans-serif;
}

.presentation__briefing__body-text {
  color: #828282;
  font: 400 25px/1.2 'Open Sans', sans-serif;
}

.presentation__briefing__submission {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}

.presentation__briefing__submission input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #818a91;
  background-color: transparent;
  color: #373a3c;
  font: 400 15px/1.4 'Open Sans', sans-serif;
  min-height: 40px;
  padding: 5px 14px;
  border-radius: 3px;
  outline: none;
}

.presentation__briefing__submission button {
  width: 100%;
  background-color: #00a650;
  color: #ffffff;
  font: 700 15px/1.4 'Open Sans', sans-serif;
  border: solid 0 #ffffff;
  border-radius: 3px;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
}

@media (hover: hover) {
  .presentation__briefing__submission button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.presentation__briefing__image > img {
  width: 100%;
}

.presentation__client-numbers {
  width: 100%;
  text-align: center;
  color: #828282;
  font: 400 16px 'Open Sans', sans-serif;
}

.presentation__our-focus {
  width: 100%;
  text-align: center;
  font: 700 19px/19.2px 'Open Sans', sans-serif;
  color: #303030;
}

/*===========1__PRESENTATION===========*/

/*===========2__PLATFORM===========*/

.platform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.platform__briefing-and-call {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.platform__briefing-and-call__image {
  max-width: 300px;
}

.platform__title {
  color: #233674;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.platform__brief-explanation {
  color: #5f6368;
  font: 400 17px/1.8 'Open Sans', Sans-serif;
}

.platform__icon-3 {
  max-width: 146px;
}

.platform__icons-1-and-2 {
  display: flex;
}

.platform__icon-1,
.platform__icon-2 {
  flex-grow: 1;
}

.platform__meet-us-button {
  width: 126.2px;
  background-color: #ea6538;
  font: 700 15px/1 'Open Sans', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px 32px;
  margin-top: 10px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .presentation__briefing__submission button:hover {
    background-color: #233674;
  }
} /* To prevent bugs on mobile devices when touching menu options*/

.platform__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===========2__PLATFORM===========*/ ;
