/*===========SECTION-7__CLIENTS===========*/

.clients {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 80px;
}

.clients__header {
  flex-basis: 58.33%;
  padding: 0 15px;
  text-align: center;
}

.clients__header__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clients__header__title {
  color: #303030;
  font: 800 48px/1.2 'Open Sans', Sans-serif;
}

.clients__header__explanation {
  position: relative;
  color: #06092d;
  font: 400 20px/1.7 'Open Sans', sans-serif;
}

.clients__image-container {
  height: 110px;
  width: 120px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .clients {
    padding: 50px 80px;
  }
}

@media only screen and (max-width: 750px) {
  .clients__header__title {
    font-size: 34px;
  }

  .clients__header__explanation {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .clients {
    padding: 25px 80px;
  }
}

/*===========SECTION-7__CLIENTS===========*/
