/* You can add global styles to this file, and also import other style files */
@import '../node_modules/swiper/swiper-bundle.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
a {
  text-decoration: none;
}

:root {
  /*================COLORS=================*/
  --ice-white: hsl(0, 0%, 98%, 1);
  --white: hsl(0, 0%, 100%, 1);
  --gray: #e4e4e4;
  --text-gray: hsl(0, 0%, 46%, 1);
  /*================COLORS=================*/
}

.max-width-1200px {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px;
  left: 0;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #ea6538;
}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}

body.mat-typography {
  overflow-x: hidden;
}

body.menuOpen {
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 0.5rem;
    width: 0.5rem;
  }
}
