*:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

form > section > input,
select,
textarea {
  height: 40px;
  line-height: 20.8px;
  padding: 6px 10px;
  border: solid 1px #bfc3c8;
  border-radius: 0px;
  font: 400 15px 'Open Sans', Sans-serif;
  color: #555555;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.max-width-1200px {
  max-width: 600px;
  padding: 70px 0px 85px;
  /* overflow-x: hidden; */
}

.contact {
  text-align: center;
  width: 100%;
  font: 400 17px 'Open Sans', Sans-serif;
  color: #ea6538;
}

.contact__call {
  text-align: center;
  font: 800 39px 'Open Sans', Sans-serif;
  margin-bottom: 20px;
}

.contact__form__box {
  display: grid;
  row-gap: 20px;
  column-gap: 2%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.contact__message {
  overflow: hidden;
  width: 100% !important;
  height: auto;
  font: 400 15px 'Open Sans', Sans-serif;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.captcha {
  margin-bottom: 20px;
}

/* .captcha__dimensions {
  width: 304px;
  height: 78px;
} */

.contact__save {
  width: auto;
  font: 400 15px 'Open Sans', Sans-serif;
  height: auto;
  text-align: center;
  background: #ea6538;
  border-width: 1px;
  border-color: #ea6538;
  border-style: solid;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: none;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px #eeeeee;
  margin: 10px 0;
  vertical-align: middle;
}

.contact__save:hover {
  background: #233674;
  border-color: #233674;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .max-width-1200px {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .max-width-1200px {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .max-width-1200px {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 475px) {
  .contact__form__box {
    grid-template-columns: none;
  }

  .contact__call {
    font: 800 32px 'Open Sans', Sans-serif;
  }

  /* .captcha__dimensions {
    width: 250px;
    height: 78px;
  } */
}
