<main class="max-width-1200px">
  <div class="contact"></div>
  <div class="contact__call"></div>
  <form action="" class="contact__form">
    <section class="contact__form__box">
      <input type="text" placeholder="Nome" /><select name="" id=""></select
      ><input type="text" placeholder="Telefone" /><input
        type="text"
        placeholder="E-mail"
      /><select name="" id=""></select
      ><select name="" id=""></select>
    </section>
    <div class="contact__message"></div>
  </form>

  <div class="captcha"></div>
  <button class="contact__save"></button>
</main>
